<table>
    <th>
      <td>Accounttype</td>
      <td>Accountname</td>
      <td>Wallet</td>
      <td>ViewAccountprofile</td>
      <td>EditAccountDetails</td>
    </th>
{% for account  in  accounts%}
<tr>
    <td>{{account.account_type}}</td>
    <td>{{account.account_name}}</td>
    <td>{{account.wallet}}</td>
    <td><a href ="{% url 'account_profile' id=account.id %}">ViewAccountProfile</a></td>
    <td><a href ="{% url 'edit_account' id=account.id %}">EditAccount</a></td>
</tr>
{%endfor%}
</table>