<table>
    <th>
      <td>Symbol</td>
      <td>Name</td>
      <td>Country</td>
      <td>ViewCurrencyProfile</td>
      <td>EditCurrencyDetails</td>
    </th>
{% for currency  in  currencies%}
<tr>
    <td>{{currency.symbol}}</td>
    <td>{{currency.name}}</td>
    <td>{{currency.country}}</td>
    <td><a href ="{% url 'currency_profile' id=currency.id %}">ViewCurrencyProfile</a></td>
    <td><a href ="{% url 'edit_currency' id=currency.id %}">EditCurrency</a></td>
</tr>
{%endfor%}
</table>


