<table>
    <th>
      <td>Balance</td>
      <td>Customer</td>
      <td>Pin</td>
      <td>Currency</td>
      <td>Active</td>
      <td>Datecreated</td>
      <td>View profile</td>
      <td>Edit wallet</td>
    </th>
{% for wallet in wallets %}
<tr>
    <td>{{wallet.balance}}</td>
    <td>{{wallet.customer}}</td>
    <td>{{wallet.pin}}</td>
    <td>{{wallet.currency}}</td>
    <td>{{wallet.active}}</td>
    <td>{{wallet.datecreated}}</td>
    <td><a href ="{% url 'wallet_profile' id=wallet.id %}">ViewProfile</a></td>
    <td><a href ="{% url 'edit_wallet' id=wallet.id %}">EditWalletDetails</a></td>
</tr>
{%endfor%}
</table>








